<form [formGroup]="detailsForm">
  <div formGroupName="general" class="general-group">
    <div class="heading">General information</div>

    <label *ngIf="id" tuiLabel="ID" class="control">
      <span class="tui-text_body-s">{{id}}</span>
    </label>

    <label *ngIf="creationDate" tuiLabel="Creation Date" class="control ">
      <span class="tui-text_body-s">{{creationDate.toDateString()}}</span>
    </label>

    <tui-error [error]="errorMessages.groupName"></tui-error>
    <tui-input formControlName="groupName" class="control" tuiTextfieldSize="m">
      Name
      <input tuiTextfield />
    </tui-input>


    <tui-error [error]="errorMessages.coordinates"></tui-error>
    <div class="coordinates control">
      <tui-input-number formControlName="coordinateX" class="coordinate" tuiTextfieldSize="m">
        X
        <input tuiTextfield />
      </tui-input-number>

      <tui-input-number formControlName="coordinateY" class="coordinate" tuiTextfieldSize="m">
        Y
        <input tuiTextfield />
      </tui-input-number>
    </div>

    <tui-error [error]="errorMessages.studentsCount"></tui-error>
    <tui-input-number formControlName="studentsCount" class="control" tuiTextfieldSize="m">
      Students count
      <input tuiTextfield />
    </tui-input-number>

    <tui-error [error]="errorMessages.transferredStudents"></tui-error>
    <tui-input-number formControlName="transferredStudents" class="control" tuiTextfieldSize="m">
      Transferred students
      <input tuiTextfield />
    </tui-input-number>

    <tui-error [error]="errorMessages.averageMark"></tui-error>
    <tui-input-number formControlName="averageMark" class="control" tuiTextfieldSize="m">
      Average mark
      <input tuiTextfield />
    </tui-input-number>

    <tui-select formControlName="semester" class="control" tuiTextfieldSize="m">
      Semester
      <input
        placeholder="Semester"
        tuiTextfield
      />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="semestersList"
      ></tui-data-list-wrapper>
    </tui-select>
  </div>

  <div formGroupName="groupAdmin" class="group-admin-group">
    <div class="heading">Group admin</div>

    <tui-error [error]="errorMessages.adminName"></tui-error>
    <tui-input formControlName="adminName" class="control" tuiTextfieldSize="m">
      Name
      <input tuiTextfield />
    </tui-input>

    <tui-error [error]="errorMessages.height"></tui-error>
    <tui-input-number formControlName="height" class="control" tuiTextfieldSize="m">
      Height
      <input tuiTextfield />
    </tui-input-number>

    <tui-error [error]="errorMessages.weight"></tui-error>
    <tui-input-number formControlName="weight" class="control" tuiTextfieldSize="m">
      Weight
      <input tuiTextfield />
    </tui-input-number>

    <tui-error [error]="errorMessages.passportID"></tui-error>
    <tui-input formControlName="passportID" class="control" tuiTextfieldSize="m">
      Passport ID
      <input tuiTextfield />
    </tui-input>

    <tui-input-date
      formControlName="birthday"
      class="control"
      tuiTextfieldSize="m"
    >
      Birthday
    </tui-input-date>
  </div>

  <div class="buttons-group">
    <button
      *ngIf="dialogMode === 'editing'"
      appearance="secondary"
      tuiButton
      class="update-btn"
      size="m"
      [disabled]="!detailsForm.valid"
      [showLoader]="showUpdateLoader"
      (click)="onUpdate()"
    >
      Update
    </button>

    <button
      *ngIf="dialogMode === 'editing'"
      tuiButton
      appearance="secondary-destructive"
      size="m"
      [showLoader]="showDeleteLoader"
      (click)="onDelete()"
    >
      Delete
    </button>

    <button
      *ngIf="dialogMode === 'adding'"
      tuiButton
      appearance="secondary"
      size="m"
      [disabled]="!detailsForm.valid"
      [showLoader]="showAddLoader"
      (click)="onAdd()"
    >
      Add
    </button>
  </div>
</form>
