<ng-container *tuiLet="status$ | async as status" [ngSwitch]="status">
  <ng-container *tuiLet="studyGroupList$ | async as studyGroupList">
    <app-sort-bar class="sort"></app-sort-bar>

    <app-group-list-skeleton
      *ngSwitchCase="DataStatus.Loading"
      class="list"
    ></app-group-list-skeleton>

    <ng-container *ngSwitchCase="DataStatus.Loaded">
      <div class="list">
        <app-group-list-item
          *ngFor="let item of studyGroupList"
          [studyGroup]="item"
          (click)="onItemClick(item)"
        ></app-group-list-item>
      </div>
      <app-group-list-empty *ngIf="studyGroupList?.length === 0"></app-group-list-empty>
    </ng-container>

    <ng-container *tuiLet="pagination$ | async as pagination">
      <tui-pagination
        *ngIf="pagination?.length !== 1"
        [index]="pagination?.index ?? 0"
        [length]="pagination?.length ?? 0"
        (indexChange)="navigateToPage($event)"
        class="pagination"
      ></tui-pagination>
    </ng-container>
  </ng-container>
</ng-container>
