<tui-island>
  <form [formGroup]="filtersForm">
    <p class="tui-island__category">filters</p>

    <div class="row">
      <div class="col">
        <tui-input-number formControlName="id" class="input-block">
          Id
          <input tuiTextfield />
        </tui-input-number>

        <tui-input formControlName="groupName" class="input-block">
          Group name
          <input tuiTextfield />
        </tui-input>

        <div class="coordinates input-block">
          <tui-input-number formControlName="coordinateX">
            X
            <input tuiTextfield />
          </tui-input-number>

          <tui-input-number formControlName="coordinateY">
            Y
            <input tuiTextfield />
          </tui-input-number>
        </div>

        <tui-select formControlName="semester" class="input-block" >
          Semester
          <input
            placeholder="Select semester"
            tuiTextfield
          />
          <tui-data-list-wrapper
            *tuiDataList
            [items]="semestersList"
          ></tui-data-list-wrapper>
        </tui-select>

        <tui-input-date formControlName="creationDate" class="input-block">
          Creation date
        </tui-input-date>
      </div>

      <div class="col">
        <tui-input-number formControlName="studentsCount" class="input-block">
          Students count
          <input tuiTextfield />
        </tui-input-number>

        <tui-input-number formControlName="transferredStudents" class="input-block">
          Transferred students
          <input tuiTextfield />
        </tui-input-number>

        <tui-input-number formControlName="averageMark" class="input-block">
          Average mark
          <input tuiTextfield />
        </tui-input-number>

        <tui-input formControlName="adminName" class="input-block">
          Admin name
          <input tuiTextfield />
        </tui-input>

        <button
          appearance="icon"
          icon="tuiIconRefreshCcw"
          tuiButton
          type="button"
          class="refresh-button"
          (click)="onRefresh()"
        >
          Refresh
        </button>
      </div>
    </div>
  </form>
</tui-island>
