@import '@taiga-ui/core/styles/taiga-ui-local.less';


.page-layout {
  display: flex;
  justify-content: center;

  .tui-space(top, 8);
}

.controls-block {
  display: flex;
  flex-direction: column;

  .tui-space(left, 8);
}

.actions {
  .tui-space(top, 8);
}
