<form [formGroup]="sortForm">
  <div
    tuiGroup
    class="group"
  >
    <tui-select formControlName="criteria" tuiTextfieldSize="s">
      Sort by
      <input
        placeholder="Select value"
        tuiTextfield
      />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="sortItems"
      ></tui-data-list-wrapper>
    </tui-select>

    <tui-radio-block
      formControlName="order"
      item="asc"
      size="s"
    >
      Asc
    </tui-radio-block>

    <tui-radio-block
      formControlName="order"
      item="desc"
      size="s"
    >
      Desc
    </tui-radio-block>

    <tui-radio-block
      formControlName="order"
      item="default"
      size="s"
    >
      Default
    </tui-radio-block>
  </div>
</form>
