<tui-island *tuiLet="actions$ | async as actions">
  <p class="tui-island__category">actions</p>

  <div [formGroup]="moveStudentsForm">
    <span class="tui-text_body-s action-label">Move all student from one group to another</span>
    <div
      tuiGroup
      class="group"
    >
      <tui-input formControlName="from" tuiTextfieldSize="m">
        From
        <input tuiTextfield />
      </tui-input>

      <tui-input formControlName="to" tuiTextfieldSize="m">
        To
        <input tuiTextfield />
      </tui-input>

      <button
        appearance="secondary-destructive"
        tuiButton
        type="button"
        size="m"
        [showLoader]="actions?.move?.isLoading ?? false"
        (click)="onMoveButtonClick()"
      >
        Move
      </button>
    </div>
  </div>

  <div class="count-block">
    <span class="tui-text_body-s action-label">Count the number of expelled students</span>
    <div
      tuiGroup
      class="group"
    >
      <button
        appearance="secondary"
        tuiButton
        type="button"
        size="m"
        [showLoader]="actions?.count?.isLoading ?? false"
        (click)="onCountButtonClick()"
      >
        Count
      </button>

      <tui-primitive-textfield tuiTextfieldSize="m" [disabled]="true">{{actions?.count?.value ?? ''}}</tui-primitive-textfield>
    </div>
  </div>

  <div class="add-block">
    <span class="tui-text_body-s action-label">Add new study group</span>
    <button
      appearance="secondary"
      tuiButton
      class="add-btn"
      type="button"
      size="m"
      (click)="onAddButtonClick()"
    >
      Add
    </button>
  </div>
</tui-island>
